<div class="col-md-8 col-md-offset-3 mx-auto reservable">
    <div class="search card-inner ">
        <h4>Hi Gilles, Rechercher des salles ou des materiels pour reservation </h4>
        <div class="row m-0 ">
            <form class="col-md-12" #form="ngForm" (ngSubmit)="search(form.value.search)"  ngNativeValidate>
                <div class="form">
                    <input type="text" name="search" required ngModel id="" placeholder="Rechercher une salle ou un materiel par nom">
                    <button type="submit">
                        <fa-icon [icon]="icons.search"></fa-icon>
                        
                    </button>
                </div>
                <div class="form-group checkbox">
                    <input type="checkbox" name=""  id="available">
                    <label for="available">Chercher seulement les salles ou meteriels disponibles</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row  reservable-list">
        <div class="reservable col-md-4" *ngFor="let item of reservables">
            <img src="https://thumbs.dreamstime.com/b/salle-de-classe-vide-52354235.jpg" alt="">
            <div class="info">
                <div class="name">
                    <span>{{item.name | titlecase}}</span>
                    <div class="option">
                        <fa-icon [icon]="icons.eye" [routerLink]="['/reservation/'+item.id]" title="Voir les reservations" ></fa-icon>
                    </div>
                </div>
                <div class="others">
                    <div class="localisation">
                        <fa-icon [icon]="icons.location"></fa-icon> IFRI- Campus UAC
                    </div>
                </div>
                <div class="available">
                    Disponibilite: 20 Jan,15h - 21 Jan,16h
                </div>
            </div>
        </div>
    </div>
    <!--loading div-->
    <div class="loading" *ngIf="loading">
        <fa-icon [icon]="icons.spinner" [pulse]="true" size="10x" ></fa-icon>
    </div>
</div>